resources:
  containers:
  - container: Ubuntu_14_04
    image: microsoft/dotnet-buildtools-prereqs:ubuntu-14.04-cross-0cd4667-20170319080304
  - container: Ubuntu_18_04
    image: microsoft/dotnet-buildtools-prereqs:ubuntu-18.04-ea8a500-20180507175506
  - container: Fedora_29
    image: microsoft/dotnet-buildtools-prereqs:fedora-29-2f0798a-20181105183801
  - container: RHEL_7
    image: microsoft/dotnet-buildtools-prereqs:rhel7_prereqs_2
  - container: CentOS_6
    image: microsoft/dotnet-buildtools-prereqs:centos-6-376e1a3-20174311014331
  - container: Alpine_3_6
    image: microsoft/dotnet-buildtools-prereqs:alpine-3.6-WithNode-f4d3fe3-20181213005010

# PR trigger
pr:
- master

jobs:
- job: Windows
  variables:
    _os: Windows
  strategy:
    maxParallel: 4
    matrix:
      Debug:
        _configuration: Debug
      Release:
        _configuration: Release
  pool: dotnet-external-temp
  timeoutInMinutes: 20

  steps:
    - script: eng/cibuild.cmd -configuration $(_configuration) -prepareMachine
      displayName: Build and Test

    - task: PublishTestResults@1
      inputs:
        testRunner: XUnit
        testResultsFiles: '$(Build.SourcesDirectory)\artifacts\TestResults\$(_configuration)\*.xml'
        mergeTestResults: true
        testRunTitle: '$(_os) $(_configuration)'
      condition: always()
    - task: PublishBuildArtifacts@1
      displayName: Publish Logs
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)\artifacts\log\$(_configuration)'
        ArtifactName: '$(_os) $(_configuration)'
      continueOnError: true
      condition: not(succeeded())

- job: Unix
  strategy:
    matrix:
      Ubuntu18_Debug:
        _configuration: Debug
        _os: 'Ubuntu 18.4'
        _container: Ubuntu_18_04
      Ubuntu18_Release:
        _configuration: Release
        _os: 'Ubuntu 18.4'
        _container: Ubuntu_18_04
      Ubuntu14:
        _configuration: Debug
        _os: 'Ubuntu 14.4'
        _container: Ubuntu_14_04
      Fedora_Debug:
        _configuration: Debug
        _os: 'Fedora 29'
        _container: Fedora_29
      RHEL:
        _configuration: Debug
        _os: 'RHEL 7'
        _container: RHEL_7
      CentOS:
        _configuration: Debug
        _os: 'CentOS 6'
        _container: CentOS_6
      Alpine:
        _configuration: Debug
        _os: 'Alpine 3.6'
        _container: Alpine_3_6
  container: $[variables['_container']]
  pool: dnceng-linux-external-temp
  timeoutInMinutes: 20

  steps:
    - script: ./eng/cibuild.sh --configuration $(_configuration) --prepareMachine
      displayName: Build and Test
    - task: PublishTestResults@1
      inputs:
        testRunner: XUnit
        testResultsFiles: '$(Build.SourcesDirectory)/artifacts/TestResults/$(_configuration)/*.xml'
        mergeTestResults: true
        testRunTitle: $(_os) $(_configuration)'
      condition: always()
    - task: PublishBuildArtifacts@1
      displayName: Publish Logs
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)/artifacts/log/$(_configuration)'
        ArtifactName: '$(_os) $(_configuration)'
      continueOnError: true
      condition: not(succeeded())
